<div class="navbar-default navbar-fixed-top">
   <!-- Branding Title>--> 
<div class="navbar-header">
    <a class="navbar-brand" style"font-size:x-large">
        <strong>Razor Samples</strong>
    </a>
</div>
    <!-- Menu Items Area-->
<ul class="nav navbar-nav">
    <!--Root Menu Items-->
    <li><a href="@Href("~/index.cshtml")">Home</a></li>
    <!--Sub-Menu (drop-down menu)-->
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Controls <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@Href("~/SamplePages/TextBoxes.cshtml")">Text Boxes</a></li>
            <li><a href="@Href("~/SamplePages/RadioButtons.cshtml")">Radio Buttons</a></li>
            <li><a href="@Href("~/SamplePages/CheckBoxes.cshtml")">Check Boxes</a></li>
            <li><a href="@Href("~/SamplePages/DropDownList.cshtml")">Drop Down List</a></li>            
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            DB Pages <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">            
            <li><a href="@Href("~/DBPages/SingleQuery.cshtml")">Single Query</a></li>
            <li><a href="@Href("~/DBPages/MultiRecordQuery.cshtml")">Multiple Record Query</a></li>
            <li><a href="@Href("~/DBPages/CRUDPage.cshtml")">Insert and Validation</a></li>
            <li><a href="@Href("~/DBPages/ProductSearch.cshtml")">Update and Delete</a></li>
        </ul>
    </li>
</ul>   
</div>

